apiVersion: v1
kind: ConfigMap
metadata:
  name: vtb-community-auth
  namespace: {{ app_namespace }}
data:
  auth-service-cfg.yml: |
    appsettings:
      server:
        port: 8081
        servlet:
          context-path: /api/auth
      postgres:
        url: jdbc:postgresql://vtb-community-db:5432/{{ db_name }}
        username: {{ db_user }} # database username
        password: {{ db_pass }} # database password
        schema: public
        driver-class-name: org.postgresql.Driver
      secrets:
        AdminUI: '{noop}secret'
        ClientUI: '{noop}secret'
        PartnerUI: '{noop}secret'
      security:
        accessTokenValidityMinutes: 100000

---

apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: {{ app_namespace }}
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 8081
  selector:
    app: auth-service-pod

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  namespace: {{ app_namespace }}
  labels:
    app: auth-service-pod
spec:
  replicas: {{ auth_replicas }}
  strategy:
    type: Recreate
#    type: RollingUpdate
#      maxSurge: 1
  selector:
    matchLabels:
      app: auth-service-pod
  template:
    metadata:
      labels:
        app: auth-service-pod
    spec:
      containers:
      - name: auth-service
        image: {{ private_repo }}/auth-service:{{ version_tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
        readinessProbe:
          failureThreshold: 3
          httpGet:
             path: /api/auth/actuator/health
             port: 8081
             scheme: HTTP
          initialDelaySeconds: 45
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1
        env:
          - name: PROFILE
            value: prod 
        resources:
          requests:
            memory: "500Mi"
            cpu: "200m"
          limits:
            memory: "1000Mi"
            cpu: "400m"
        volumeMounts:
        - name: config-volume
          mountPath: /application-prod.yml
          subPath: auth-service-cfg.yml
      volumes:
      - name: config-volume
        configMap:
          name: vtb-community-auth
      imagePullSecrets:
      - name: {{ secret_name }}