apiVersion: v1
kind: ConfigMap
metadata:
  name: vtb-community-core
  namespace: {{ app_namespace }}
data:
  core-service-cfg.yml: |
    appsettings:
      server:
        port: 8080
      context-path: /api/core
      postgres:
        url: jdbc:postgresql://vtb-community-db:5432/{{ db_name }}
        username: {{ db_user }}
        password: {{ db_pass }}
        schema: public
        driver-class-name: org.postgresql.Driver
      security:
        disabled: false
      api:
        services:
          mq-adapter:
            url: http://mq-adapter-service:8082/mq
      updateQuestsCron: 0 0 * * * *
      unsentMessagesProcessingPeriodMs: 900000
      servlet:
        multipart:
          max-file-size: 100KB
      lottery:
        attemptsPerDay: 10

---

apiVersion: v1
kind: Service
metadata:
  name: core-service
  namespace: {{ app_namespace }}
  labels:
    app: core-service
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 8080
  selector:
    app: core-service-pod

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: core
  namespace: {{ app_namespace }}
  labels:
    app: core-service-pod
spec:
  replicas: {{ core_replicas }}
  strategy:
    type: Recreate
#    type: RollingUpdate
#      maxSurge: 1
  selector:
    matchLabels:
      app: core-service-pod
  template:
    metadata:
      labels:
        app: core-service-pod
    spec:
      containers:
      - name: core-service
        image: {{ private_repo }}/core-service:{{ version_tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        readinessProbe:
          failureThreshold: 3
          httpGet:
             path: /api/core/actuator/health
             port: 8080
             scheme: HTTP
          initialDelaySeconds: 45
          periodSeconds: 5
          successThreshold: 1
          timeoutSeconds: 1
        env:
          - name: PROFILE
            value: prod
        resources:
          requests:
            memory: "500Mi"
            cpu: "200m"
          limits:
            memory: "1000Mi"
            cpu: "400m"
        volumeMounts:
        - name: config-volume
          mountPath: /application-prod.yml
          subPath: core-service-cfg.yml
      volumes:
      - name: config-volume
        configMap:
          name: vtb-community-core
      imagePullSecrets:
      - name: {{ secret_name }}