kind: Service
apiVersion: v1
metadata:
 name: vtb-community-db
 namespace: {{ app_namespace }}
spec:
 type: ClusterIP
 ports:
 - name: tcp
   port: 5432
   targetPort: 5432
   protocol: TCP 
 sessionAffinity: None

---

kind: Endpoints
apiVersion: v1
metadata:
 name: vtb-community-db
 namespace: {{ app_namespace }}
subsets: 
- addresses:
  - ip: {{ database_ip }}
  ports:
  - name: tcp
    port: 5432
    protocol: TCP 
   
---

apiVersion: v1
kind: Service
metadata:
  name: vtb-community-activemq
  namespace: {{ app_namespace }}
spec:
  type: ClusterIP
  ports:
  - name: tcp
    port: 8161
    targetPort: 8161
    protocol: TCP 
  sessionAffinity: None

---

kind: Endpoints
apiVersion: v1
metadata:
 name: vtb-community-activemq
 namespace: {{ app_namespace }}
spec: 
subsets:
- addresses:
  - ip: {{ mq_ip }}
  ports:
  - name: tcp
    port: 8161
    protocol: TCP 