apiVersion: v1
kind: ConfigMap
metadata:
  name: vtb-community-mq-adapter
  namespace: {{ app_namespace }}
data:
  mq-adapter-cfg.yml: |
    appsettings:
      activemq:
        broker-url: tcp://vtb-community-activemq:8161
        user: {{ mq_user }}
        password: {{ mq_password }}
      partner:
        destination:
          prefix: "Partner"
          registration: "Common.registration"
          status: "Common.status"
        concurrency: "3-10"
        ids: 1, 2, 3, 4
      api:
        services:
          core:
            url: http://core-service:8080/api/core
      server:
        port: 8082

---

apiVersion: v1
kind: Service
metadata:
  name: mq-adapter-service
  namespace: {{ app_namespace }}
  labels:
    app: mq-adapter-service
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 8082
  selector:
    app: mq-adapter-service-pod

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mq-adapter
  namespace: {{ app_namespace }}
  labels:
    app: mq-adapter-service-pod
spec:
  replicas: {{ mq_replicas }}
  strategy:
    type: Recreate
#    type: RollingUpdate
#      maxSurge: 1
  selector:
    matchLabels:
      app: mq-adapter-service-pod
  template:
    metadata:
      labels:
        app: mq-adapter-service-pod
    spec:
      containers:
      - name: mq-adapter-service
        image: {{ private_repo }}/mq-adapter:{{ version_tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8082
        env:
          - name: PROFILE
            value: prod
        resources:
          requests:
            memory: "500Mi"
            cpu: "200m"
          limits:
            memory: "1000Mi"
            cpu: "400m"
        volumeMounts:
        - name: config-volume
          mountPath: /application-prod.yml
          subPath: mq-adapter-cfg.yml
      volumes:
      - name: config-volume
        configMap:
          name: vtb-community-mq-adapter
      imagePullSecrets:
      - name: {{ secret_name }}