---
apiVersion: v1
kind: Service
metadata:
  name: front-partner-service
  namespace: {{ app_namespace }}
  labels:
    app: front-partner-service
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 8086
  selector:
    app: front-partner-service-pod

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: front-partner-ingress
  namespace: {{ app_namespace }}
spec:
  rules:
  - host: partner.{{ domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: front-partner-service
          servicePort: 8086
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: front-partner-service-pod
  namespace: {{ app_namespace }}
  labels:
    app: front-partner-service-pod
spec:
  replicas: {{ partner_front_replicas }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: front-partner-service-pod
  template:
    metadata:
      labels:
        app: front-partner-service-pod
    spec:
      containers:
      - name: front-partner-service-pod
        image: {{ private_repo }}/partner-iface:{{ version_tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8086
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8086
            scheme: HTTP
          periodSeconds: 5
          timeoutSeconds: 2
        readinessProbe:
          failureThreshold: 3
          httpGet:
             path: /
             port: 8086
             scheme: HTTP
          initialDelaySeconds: 1
          periodSeconds: 1
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            memory: "1000Mi"
            cpu: "750m"
          requests:
            memory: "500Mi"
            cpu: "200m"
      imagePullSecrets:
      - name: {{ secret_name }}