apiVersion: v1
kind: ConfigMap
metadata:
  name: vtb-community-mq-adapter
  namespace: {{ app_namespace }}
data:
  mq-adapter-cfg.yml: |
    appsettings:
      activemq:
        broker-url: tcp://vtb-community-activemq:8161
        user: {{ mq_user }}
        password: {{ mq_password }}
      partner:
        destination:
          prefix: "Partner"
          registration: "Common.registration"
          status: "Common.status"
        concurrency: "3-10"
        ids: 1, 2, 3, 4
      api:
        services:
          core:
            url: http://core-service:8080/api/core
      server:
        port: 8082